<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<!-- The <configSections> MUST be the first child of <configuration> -->
	<configSections>
		<section name="entityFramework"
				 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				 requirePermission="false" />
	</configSections>

	<!-- Connection Strings -->
	<connectionStrings>
		<add name="POS_DBConnection"
			 connectionString="Server=(LocalDb)\zakath;Database=POS_DB;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<!-- Entity Framework Configuration -->
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient"
					  type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

</configuration>
